<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxw.managesystem.mapper.ClassroomMapper">
    <select id="selectAll" resultType="com.yxw.managesystem.entity.Classroom">
        SELECT * FROM classroom
        WHERE problem_id = #{problemId}
    </select>
    <update id="empty">
        TRUNCATE TABLE classroom
    </update>
</mapper>
