<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxw.managesystem.mapper.StudentShouldSelectSubjectMapper">
    <select id="getStudentIdsSelectSubject" parameterType="String" resultType="Integer">
        SELECT student_id from student_should_select_subject
                          NATURAL join student
                          NATURAL join `subject` where subject_name = #{subjectName};
    </select>
</mapper>
